body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-position: center;
  background-size: cover;
}

.heading {
  text-align: center
}

.icon {
  height: auto;
  max-width: 10%;
}

footer {
  color: #767676;
}